[submodule "latk.py"]
	path = latk.py
	url = https://github.com/LightningArtist/latk.py
[submodule "pix2pix-tensorflow"]
	path = pix2pix-tensorflow
	url = https://github.com/n1ckfg/pix2pix-tensorflow
[submodule "autotrace"]
	path = autotrace
	url = https://github.com/n1ckfg/autotrace
[submodule "ffmpeg-python"]
	path = ffmpeg-python
	url = https://github.com/n1ckfg/ffmpeg-python
[submodule "kinect_converter.py"]
	path = kinect_converter.py
	url = https://github.com/n1ckfg/kinect_converter.py
[submodule "pytorch-CycleGAN-and-pix2pix"]
	path = pytorch-CycleGAN-and-pix2pix
	url = https://github.com/n1ckfg/pytorch-CycleGAN-and-pix2pix
[submodule "pix2pixHD"]
	path = pix2pixHD
	url = https://github.com/n1ckfg/pix2pixHD
